<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <%# https://github.com/hotwired/turbo/issues/288 %>
  <%= button_to t(".with_google"), user_google_oauth2_omniauth_authorize_path, {
    class: "button-primary my-default",
    data: { turbo: false }
  } %>
</div>
