<%% if policy(<%= singular_table_name %>).destroy? %>
  <%%= button_to(
    t("destroy"),
    <%= singular_table_name %>,
    method: :delete,
    class: "button-danger",
    form: { data: { turbo_confirm: t("destroy_confirm") } }
  ) %>
<%% end %>
