<%%= custom_form_for <%= model_resource_name %> do |form| %>
<% attributes.each do |attribute| -%>
  <%%= form.input :<%= attribute.column_name %>, wrapper_html: { class: "my-default" } %>
<% end -%>

  <%%= form.submit class: class_names(button_primary_style, "my-default") %>
<%% end %>
