<div>
  <h1 class="title my-default"><%%= title t ".title" %></h1>

  <div class="scaffold-buttons my-default">
    <%%= render "show_link", <%= singular_table_name %>: @<%= singular_table_name %> %>
    <%%= render "back_to_index_link" %>
  </div>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
