<div>
  <%= h1 t(".title"), class: "my-default" %>

  <div class="scaffold-buttons my-default">
    <%= render "show_link", setting: @setting %>
  </div>

  <%= render "form", setting: @setting %>
</div>
