<div>
  <div class="horizontal-center justify-between">
    <%= h1 t(".title"), class: "my-default" %>
    <%= render "new_link" %>
  </div>

  <%= render partial: "index_users_setting", collection: @users_settings, as: :users_setting %>

  <%= paginate @users_settings %>
</div>
