<div>
  <div class="scaffold-buttons my-default">
    <%= render "edit_link", users_setting: @users_setting %>
    <%= render "destroy_button", users_setting: @users_setting %>
    <%= render "back_to_index_link" %>
  </div>

  <%= render @users_setting %>
</div>
