<div>
  <h1 class="title"><%= @gemnames.join(" vs ") %></h1>

  <%= render "shared/search", gemnames: @gemnames %>

  <div class="mt-8">
    <div data-controller="compare--chart"
      data-compare--chart-data-value="<%= @daily_downloads_data.to_json %>">

      <canvas data-compare--chart-target="chart"></canvas>
    </div>
  </div>
</div>
