<div class="wrapper">
  <h1 class="title"><%= title @gemnames.join(" vs ") %></h1>

  <%= render "shared/search", gemnames: @gemnames %>

  <div class="mt-8">
    <turbo-frame id="chart" src="<%= chart_path @query, :one_year_ago %>"></turbo-frame>
  </div>
</div>
