<div id="<%%= dom_id <%= singular_table_name %> %>">
  <div class="my-default font-bold"><%%= <%= singular_table_name %>.id %></div>

  <div class="scaffold-buttons my-default">
    <%%= <%= singular_route_name %>_link <%= singular_table_name %> %>
    <%%= edit_<%= singular_route_name %>_link <%= singular_table_name %> %>
  </div>
</div>
