<div>
  <div class="horizontal-center justify-between">
    <%%= h1 t(".title"), class: "my-default" %>
    <%%= new_<%= singular_route_name %>_link %>
  </div>

  <%%= render partial: "index_<%= singular_table_name %>", collection: @<%= plural_table_name %>, as: :<%= singular_table_name %> %>

  <%%= paginate @<%= plural_table_name %> %>
</div>
