<div>
  <div class="scaffold-buttons my-default">
    <%%= edit_<%= singular_route_name %>_link @<%= singular_table_name %> %>
    <%%= destroy_<%= singular_route_name %>_button @<%= singular_table_name %> %>
    <%%= back_to_<%= plural_route_name %>_link %>
  </div>

  <%%= render @<%= singular_table_name %> %>
</div>
