<div>
  <div class="scaffold-buttons my-default">
    <%%= render "edit_link", <%= singular_table_name %>: @<%= singular_table_name %> %>
    <%%= render "destroy_button", <%= singular_table_name %>: @<%= singular_table_name %> %>
    <%%= render "back_to_index_link" %>
  </div>

  <%%= render @<%= singular_table_name %> %>
</div>
