<div id="<%= dom_id post %>">
  <div class="my-default font-bold"><%= post.title %></div>

  <div class="scaffold-buttons my-default">
    <%= post_link post %>
    <%= edit_post_link post %>
  </div>
</div>
