<div id="<%= dom_id post %>" class="my-default">
  <div class="my-default font-bold"><%= post.title %></div>

  <div class="scaffold-buttons my-default">
    <%= link_to "Show this post", post, class: "button-primary" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "button-secondary" %>
  </div>
</div>
