<div id="<%= dom_id post %>">
  <%= h1 post.title, class: "my-default" %>

  <div class="horizontal-center gap-2 my-default">
    <div class="font-medium"><%= t(post.published ? ".publishing" : ".unpublished") %></div>
  </div>

  <div class="my-default">
    <%= wysiwyg_viewer post.content %>
  </div>
</div>
