<div>
  <h1 class="title my-default"><%= t ".title" %></h1>

  <div class="scaffold-buttons my-default">
    <%= link_to t("detail"), @post, class: "button-primary" %>
    <%= link_to t("back_to_index"), posts_path, class: "button-secondary" %>
  </div>

  <%= render "form", post: @post %>
</div>
