<div>
  <h1 class="title my-default"><%= title t ".title" %></h1>

  <div class="scaffold-buttons my-default">
    <%= render "edit_link", post: @post %>
    <%= render "back_to_index_link" %>
  </div>

  <%= render "form", post: @post %>
</div>
