<div>
  <div class="flex justify-between items-center">
    <h1 class="title my-default">Posts</h1>
    <%= link_to 'New post', new_post_path, class: "button-primary" %>
  </div>

  <%= render @posts %>
</div>
