<div>
  <div class="flex justify-between items-center">
    <h1 class="title my-default"><%= title t ".title" %></h1>
    <%= render "new_link" %>
  </div>

  <%= render partial: "index_post", collection: @posts, as: :post %>
</div>
