<div>
  <div class="horizontal-center justify-between">
    <%= h1 t(".title"), class: "my-default" %>
    <%= new_post_link %>
  </div>

  <%= render partial: "index_post", collection: @posts, as: :post %>

  <%= paginate @posts %>
</div>
