<div>
  <div class="flex justify-between items-center">
    <%= h1 t(".title"), class: "my-default" %>
    <%= render "new_link" %>
  </div>

  <%= render partial: "index_post", collection: @posts, as: :post %>

  <%= paginate @posts %>
</div>
