<div>
  <div class="scaffold-buttons my-default">
    <%= render "edit_link", post: @post %>
    <%= render "destroy_button", post: @post %>
    <%= render "back_to_index_link" %>
  </div>

  <%= render @post %>
</div>
