@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Sans+JP&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-default {
    @apply my-5;
  }

  .vertical {
    @apply flex flex-col gap-1;
  }
  .horizontal {
    @apply flex items-center gap-1;
  }

  .scaffold-buttons {
    @apply horizontal gap-3;
  }

  .pagination {
    @apply flex justify-center gap-1 my-default text-lg whitespace-nowrap;
  }
  .pagination > .page {
    @apply hidden sm:block;
  }
  .pagination-base {
    @apply px-2 py-1 block;
  }
  .pagination > .current {
    @apply pagination-base font-bold;
  }
  .pagination > span > a {
    @apply pagination-base border;
  }
}
