.content-style {
  margin: 1rem;
  max-width: none;
  font-family: "Noto Sans JP", sans-serif;
}

.content-style td {
  border-width: thin;
}

.content-style pre * {
  font-family: "Kosugi", sans-serif !important;
}
