.wysiwyg_style {
  margin: 1rem;
  max-width: none;
  font-family: "Noto Sans JP", sans-serif;
}

.wysiwyg_style td {
  border-width: thin;
}

.wysiwyg_style pre * {
  font-family: "Kosugi", sans-serif !important;
}
