<header class="flex justify-between items-center">
  <div>
    <%= link_base t("title"), root_url %>
  </div>
  <div>
    <% if user.present? %>
      <%= button_primary t("sign_out"), sign_out_path, method: :delete %>
    <% else %>
      <%= link_primary t("sessions.new.title"), sign_in_path %>
    <% end %>
  </div>
</header>
